
<div class="container-fluid m-0 p-0 overflow-auto">
  <div class="row h-100 m-0 ">
  <div class="col-12 p-0" style="height: 80px" *ngFor="let chat of chats" (click)="loadMessages(chat)">
    <div
      class="w-100 h-100 rounded-0 chat"
      style="cursor: pointer; overflow: hidden"
      #chat
    >
      <div class="row p-0 m-0 h-100" style="pointer-events: none;">
        <div class="col-3 p-1 h-100">
          <img
            [src]="chat.profilePicture"
            class="img-fluid rounded"
            style="height: 100%; width: 100%; object-fit: cover"
          />
        </div>
        <div class="col-9 p-0">
          <div class="d-flex flex-column w-100 h-100 p-2">
            <h5 class="m-0">{{ chat.name }}</h5>
            <p class="m-0 w-100 text-muted d-flex align-items-center flex-grow-1">
              {{ chat.messages[chat.messages.length - 1].message?.conversation }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>
