<div class="container-fluid h-100 border border-secondary p-0 m-0">
    <div class="row h-100 m-0">
        <div class="col-3 border border-secondary p-0 h-100">
            <app-chats (selectedChat)="selectedChatConversation = $event"></app-chats>
        </div>
        <div class="col-9 bg-warning p-0 h-100">
            <ng-container *ngIf="selectedChatConversation !== undefined; else NoChatSelected">
                <app-conversation [selectedChatConversation]="selectedChatConversation"></app-conversation>
            </ng-container>
            <ng-template #NoChatSelected>
                <h1>Construyendo perro</h1>
            </ng-template>
            
        </div>
    </div>
</div>
